@import "~bootstrap/scss/bootstrap";

/* Global */
* {
    font-family: sans-serif;
}

body {
    background-image: linear-gradient(to bottom, #64c7c7, #90d3e5, #bfdff5);
}

.app-title {
    color: #FFF;
    font-size: 36px;
    font-weight: 700;
}


.main-container {
    background: rgba(100, 199, 199, 0.25);
    box-shadow: 0 8px 32px 0 #90d3e5;
    backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 365px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


/* BUTTONS */

.btn {
    border-radius: 32px;
    border: 1px solid #fff;
    width: 150px;
}

.btn-outline-light {
    border: 3px solid #fff;
}

.btn-lg {
    font-size: 18px;
}

.btn-purple {
    background-color: #ABB3FF;
}

.btn-secondary {
    color: #EDEDED;
    border-color: #EDEDED;
}



/* INPUTS */
.number-input::-webkit-outer-spin-button,
.number-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.number-input {
    appearance: textfield;
    -moz-appearance: textfield;
}

.custom-input {
    border-radius: 10px;
    border: 1px solid #8E8E8E;
    background-color: #EDEDED;
    color: #ABABAB;
    font-size: 16px;
    text-align: center;
}

.custom-input:focus {
    outline: none;
    box-shadow: none;
    color: #ABABAB;
}

.custom-input::placeholder {
    color: #ABABAB;
}

.custom-box {
    font-size: 40px;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 32px;
    text-align: center;
}

.p-40 {
    padding: 40px;
}

.m-25 {
    margin: 25%;
}


/* TABLE */

.custom-table {
    border-radius: 32px;
    border: 1px solid #8E8E8E;
    background-color: #EDEDED;
    padding-bottom: 40px;
}

.custom-table>.table-head {
    color: #ABABAB;
    font-size: 20px;
    border-bottom: 4px solid #8E8E8E;
    padding: 10px 10px 0 10px;
}

.custom-table>.table-row>div {
    padding: 10px;
}

.custom-table>.table-row>div:first-child {
    border-right: 2px solid #8E8E8E;
}

.custom-table>.table-row>div:last-child {
    border-left: 2px solid #8E8E8E;
}

.custom-table>.table-row {
    border-bottom: 1px solid #8E8E8E;
    color: #5A5A5A;
    font-size: 12px;
}


.search-bar>input {
    color: #ABABAB;
    background-color: #EDEDED;
    border: 1px solid #8E8E8E;
    border-radius: 32px;
    font-size: 16px;
}

.search-bar>input:focus {
    color: #ABABAB;
    outline: none;
    box-shadow: none;
    background-color: #EDEDED;
}

.search-bar>input::placeholder {
    color: #ABABAB;
}

.menu {
    z-index: 99;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 30%;
    background-color: #1C8585;

}

.c-pointer {
    cursor: pointer;
}

.box-sm {
    font-size: 20px;
}

.tramite-modal {
    left: 0;
    right: 0;
    top: 50%;
    border-radius: 32px;
    background-color: #1C8585;
    transform: translateY(-50%);
}

.tramite-box {
    background-color: #EDEDED;
    border-radius: 32px solid #8E8E8E;
    color: #838383;
    text-align: center;
}

.padding-inline-start-0 {
    padding-inline-start: 0;
}